<div class="gameboy">
  <div class="gameboy__screen">
    <div class="power power-on"></div>
    <div class="screen">
      <div class="header">DOT MATRIX WITH STEREO SOUND</div>
      <div #overflowScreen class="content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="gameboy__controls">
    <div class="btn-direction">
      <div class="vertical"></div>
      <div class="horizontal"></div>
    </div>
    <div class="btn-AB"></div>
    <div class="btn-start-select"></div>
  </div>
  <div class="gameboy__speakers"></div>
</div>
