@import "node_modules/include-media/dist/_include-media.scss";

.pokedex {
  padding: 2rem;
  min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-gap: 1rem;
  background-image: url("/assets/retro-stripes.svg");
  background-size: cover;
  background-position: left center;
  @include media(">tablet") {
    grid-template-columns: minmax(auto, 300px) 1fr;
  }

  &__sidebar {
    .icon-title {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.5rem;

      h1 {
        margin: 0;
      }

      img {
        width: 30px;
      }
    }

    hr {
      margin: 0.5rem 0;
      background: rgba(black, 0.1);
      height: 2px;
      border: none;
    }
  }

  &__main {
    display: grid;
    place-items: center;
  }
}
