<div class="pokedex">
  <div class="pokedex__sidebar">
    <div class="icon-title">
      <img class="pokeball-icon" src="assets/icons/pokeball.svg" />
      <h1>Pokédex</h1>
    </div>
    <hr />
    <h2>Types</h2>
    <mat-chip-list aria-label="Type selection">
      <mat-chip [selected]="activeType === 'pokedex'">
        <a routerLink="/pokedex">All</a>
      </mat-chip>
      <mat-chip
        *ngFor="let type of types$ | async"
        [selected]="activeType === type.name"
      >
        <a [routerLink]="'/pokedex/type/' + type.name">{{
          type.name | titlecase
        }}</a>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="pokedex__main">
    <app-gameboy-container>
      <router-outlet></router-outlet>
    </app-gameboy-container>
  </div>
</div>
